{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 80,
          "opera": 66,
          "edge": 80,
          "firefox": 74,
          "safari": 13
        },
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
